
/* НОВАЯ СТРАНИЦА 404 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.notfound {
  font-family: 'Open Sans', sans-serif;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  grid-gap: 10px;

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  &__image {
    width: 100%;
    
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    grid-column: 2;
    margin-left: -13%;

    @media (max-width: 576px) {
      grid-column: 1;
      margin: 0 5%;
    }
  }

  h1 {
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    color: #000000;
    text-transform: none;
    text-align: left;
    margin: 0 0 16px;
  }

  a {
    text-decoration: underline;
  }

  a:first-of-type {
    color: #F38DB7;
  }

  a:last-of-type {
    color: #3CBD9E;
  }
}

/* НОВАЯ СТРАНИЦА 404 КОНЕЦ */
