

/* Страница услуг, пункт 15 */

.about {
  h1 {
    color: #3dbe9f;
    text-align: left;
  }

  figure {
    float: left;
    margin: 0 36px 36px 0;
    max-width: 50%;

    img {
      margin-bottom: 10px;
    }

    .btn--cta {
      height: 50px;
    }
  }

  p {
    color: #000;
  }

}

/* Конец страницы услуг */

/* Таблица с ценами */

.prices {
  clear: both;
  padding: 34px;
  margin: 36px auto;
  border: 1px solid #e4e4e4;

  h2 {
    text-transform: uppercase;

    &::after {
      display: none;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 22px 28px;
    background-color: #e6fbf5;

    &:nth-of-type(even) {
      background-color: #fff;
    }
  }

  &__service {
    color: #000;
    padding-right: 24px;
  }

  &__price {
    font-size: 24px;
    color: #3dbe9f;
  }
}

/* Видео */

.section-video {
  width: 80%;
  margin: 52px auto;

  .video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* Блок специалистов - слайдер */

.section-specialists {
  margin: 125px auto;
  
  h1 {
    font-weight: 600;
    font-size: 36px;
    color: #3dbe9f;
  }

  .section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.spec {
  font-family: Roboto, sans-serif;

  & {
    box-shadow: none;
  }

  &__img {
    height: 288px;
    width: 288px;
    margin: 0 auto 22px;
    border-radius: 50%;
    &::after {
      display: none;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
  }

  &__ranc {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }
}

.carousel {
  padding-right: 0;

  &__bar {
    padding-right: 0;
  }

  &__arrows {
    margin-left: auto;
    margin-bottom: 60px;
  }

  .slick-slide.slick-active .spec {
    box-shadow: none;
  }
}

/* Конец блока специалистов */
