$gridGap: 2rem;
.container {
  max-width: 1280px;
}

h1.heading--underlined {
  text-align: left;
  position: relative;
  color: #3DBE9F;
  &::after {
    content: "";
    position: absolute;
    background: #F38DB7;
    height: .1875rem;
    width: 5.5rem;
    left: 0;
    right: 0;
    bottom: -0.7rem;
  }
}

.cards {
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;

  &__card {
    min-height: 480px;
    max-width: 400px;
    min-width: 300px;
    flex: 0 1 calc(100% / 3 - #{$gridGap});
    margin: calc(#{$gridGap} / 2);
    background-color: #f5f5f5;

    @media (max-width: 768px) {
      margin: calc(#{$gridGap} / 2) auto;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 22px 18px auto 25px;
  }

  a {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 28px;
    border-top: 1px solid #e2e2e2;

    span:first-of-type {
      color: #07a788;
    }

    span:last-of-type {
      color: #949494;
    }
  }

  &__img {
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.pagination {
  &__block {
    height: 1.875rem;
    width: 30%;
    justify-content: center;
    margin: 0 auto 9.75rem;

    & > .flex-col:not(.btn) {
      margin-left: 0.5rem;
    }
  }

  &__dot {
    height: 1.875rem;
    min-width: 1.875rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;

    &--active {
      background-color: #f38db7;
      color: #fff;
    }
  }

  &__ellipsis {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__btn {
    padding: 0.3125rem 1rem;
    width: 5.5rem;
    height: 1.8125rem;
    background: #ffffff;
    color: #949494;
    border: 0.0625rem solid #e6e6e6;
    opacity: 0.88;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-right: 24px;
    }

    &:last-of-type {
      margin-left: 24px;
    }
  }
}
