.phone {
  white-space: nowrap;

  &__icon {
    height: 16px;
    width: 16px;
    margin-right: 12px;
  }

  &--accent {
    font-weight: bold;
    font-size: 16px;
    color: #3dbe9f;
  }
}

.btn {
  height: 44px;
  padding: 11px 32px;
  border-radius: 5px;
  font-weight: 700;

  &--accent {
    color: #fff;
    background: #3cbd9e;
    border: 1px solid #3cbd9e;
    width: 23%;
  }

  &--secondary {
    color: #f38db7;
    border: 1px solid #f38db7;
    width: 20%;
  }
}