$gridGap: 3%;

.btn--dark {
  background-color: #07a788;
  color: #fff;
  font-weight: 700;
}

.footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: linear-gradient(92.24deg, #0abeae 4.59%, #04cb9c 91.19%);

  &__container {
    display: flex;

    & > * {
      flex: 0 1 20%;
    }

    &.footer__copy > * {
      flex: 0 1 auto;
    }

    max-width: 80rem;
    margin: 0 auto;
  }

  .flex-grid-col {
    margin-left: $gridGap;

    &:first-child {
      margin-left: 0;
    }
  }

  &__menu {
    &.flex-grid-col {
      display: initial;
      margin-left: 3%;
      flex: 0 1 15%;
    }

    &:first-child {
      margin-left: 2%;
    }
  }

  &__logo-col {
    flex-basis: 15%;

    img {
      margin-bottom: 48px;
    }
  }

  &__subscribe-input {
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    padding: 12px 18px;

    &::placeholder {
      font: inherit;
      font-size: 14px;
      color: #fff;
    }
  }

  &__link {
    display: block;
    margin-bottom: 16px;

    &[title="Услуги"] {
      text-transform: uppercase;
    }

    &--secondary {
      font-weight: 400;
      margin-bottom: 10px;
    }

    &--offset {
      margin-top: 37px;
    }
  }

  .phone {
    font-weight: 700;
    white-space: initial;
  }

  &__contact {
    flex-basis: 25%;
    img {
      margin-right: 5px;
    }
  }

  &__contact.flex-grid-col {
    margin-left: calc(#{$gridGap} / 2);
    & > * {
      margin-bottom: 15px;
    }
  }

  address,
  &__mail {
    font-style: initial;
    font-weight: 400;
    font-size: 14px;
    display: block;
  }

  .btn {
    width: 100%;
    padding: auto;
  }

  .btn--accent {
    border: 1px solid #ffffff;
    background-color: transparent;
  }

  .btn--secondary {
    background-color: #fff;
    border: 1px solid #fff;
  }

  &__copy {
    justify-content: space-between;
    background: none;

    &-text,
    &-text a {
      font: inherit;
      font-size: 12px;
      color: #fff;
    }
  }

  &__bottomline {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background-color: #3CBD9E;
    padding: 14px 0;
    margin-bottom: 0;
  }
}
